<p>
  <button (click)="onConcat()">Concat Observable</button>
  <button (click)="onCombineAll()">Combine All</button>
  <button (click)="onPromise()">Promise</button>
  <button (click)="onExercice()">Exercice</button>
  <button (click)="onConcatMap()">Concat Map</button>
  <button (click)="onReduce()">Reduce</button>
</p>
<h4>Rxjs works !</h4>
<table style="width: 90%">
    <tr>
        <td style="width: 70%">
            FormEvent
        </td>
        <td style="width: 30%">
            <button>Test button</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Create Observable
        </td>
        <td style="width: 30%">
            <button (click)="onClickOne()">Create Observable</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Subject
        </td>
        <td style="width: 30%">
            <button (click)="onSubject()">Subject</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Timer
        </td>
        <td style="width: 30%">
            <button (click)="onTimer()">Create timer</button>
            <button (click)="onStopTimer()">Stop timer</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Tap
        </td>
        <td style="width: 30%">
            <button (click)="onTap()">Tap</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Publish
        </td>
        <td style="width: 30%">
            <button (click)="onPublish()">Publish</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Share
        </td>
        <td style="width: 30%">
            <button (click)="onShare()">Share</button>
        </td>
    </tr>
    <tr>
        <td style="width: 70%">
            Switch Map
        </td>
        <td style="width: 30%">
            <button (click)="onSwitchMap()">Switch Map</button>
        </td>
    </tr>
</table>